@import url('https://use.fontawesome.com/releases/v5.7.2/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
   font-size: 1rem;
   margin: 0;
   padding: 0;
   font-family: 'Roboto', sans-serif;
   justify-content: center;
   background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

#app {
   overflow-y: scroll;
   overflow-x: hidden;
}
/* header */
.header {
   background-image: linear-gradient(to left, #f46b45, #eea849);
   box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
   position: absolute;
   top: 0;
   width: 100%;
   z-index: 3;
}

.header ul {
   margin: 0;
   padding: 0;
   list-style: none;
   overflow: hidden;
}

.header li a {
   display: block;
   padding: 20px 20px;
   text-decoration: none;
   color: #f4f4f4;
}
.header .logo {
   display: block;
   float: left;
   font-size: 2em;
   padding: 10px 20px;
   text-decoration: none;
   color: #f4f4f4;
}

/* menu */
.header .menu {
   clear: both;
   max-height: 0;
   transition: max-height .2s ease-out;
}

/* menu icon */
.header .menu-icon {
   cursor: pointer;
   display: inline-block;
   float: right;
   padding: 28px 20px;
   position: relative;
   user-select: none;
}

.header .menu-icon .navicon {
   background: #333;
   display: block;
   height: 2px;
   position: relative;
   transition: background .2s ease-out;
   width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
   background: #333;
   content: '';
   display: block;
   height: 100%;
   position: absolute;
   transition: all .2s ease-out;
   width: 100%;
}

.header .menu-icon .navicon:before {
   top: 5px;
}

.header .menu-icon .navicon:after {
   top: -5px;
}

/* menu btn */
.header .menu-btn {
   display: none;
}

.header .menu-btn:checked~.menu {
   max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .navicon {
   background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
   transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
   transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
   top: 0;
}

@media screen and (min-width: 768px) {
   .header li {
      float: left;
   }

   .header li a {
      padding: 20px 30px;
   }

   .header .menu {
      clear: none;
      float: right;
      max-height: none;
   }

   .header .menu-icon {
      display: none;
   }

}

.searchbar-section {
   width: 100%;
   background-color: #222;
   position: absolute;
   top: 60px;
   left: 0;
   right: 0;
}

.searchbar {
   display: flex;
   align-items: center;
   margin: 0 auto;
   height: 60px;
   font-size: 1.6rem;
   width: 520px;
}

.searchbar input {
   padding: 0 100px 0 20px;
   border: none;
   font-size: 1.75rem;
   color: #141414;
}

.searchbar input:focus {
   outline: none;
}

.searchbar .search-icons {
   color: #fff;
}

.searchbar .search-icons i {
   margin-left: 15px;
   cursor: pointer;
}

.result-list {
   margin-top: 140px;
}

article {
   display: grid;
   grid-template-columns: 200px auto 40px;
   grid-template-rows: 100px;
   border-bottom: 1px solid #ccc;
   overflow: hidden;
   cursor: pointer;
}

article header {
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}

article header img {
   max-width: 100%;
   height: auto;
}

article header i {
   font-size: 2rem;
}

article section {
   margin: 0;
   padding: 10px;
   height: 100px;
}

article footer {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.6rem;
   color: #888;
}

#scroll-trigger {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100px;
   font-size: 1.6rem;
}
@media screen and (max-width: 768px) {
   .searchbar {
      font-size: 1.25rem;
      width: 300px;
      height: 50px;
   }

   .searchbar input {
      font-size: 1.25rem;
      color: #141414;
      width: 100px !important;
   }
}