<template>
  <div id="app">
    <News :apiKey="apiKey" />
    
  </div>
</template>

<script>
  import News from './components/News.vue'

  export default {
    name: 'app',
    data: () => {
      return {
        apiKey: '2357bd2f0a9f452f82cdb2c79da39e90' // You need an API Key from newsapi.org
      }
    },
    components: {
      News
    }
  }
</script>

<style>

</style>